
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    color: white;
}
.loginbox{
    background-color: rgba(231, 231, 231, 0.505);
    width: 25vw;
    height: 40vh;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 60%;
    border-radius: 8px;
    box-shadow:1px 1px 10px rgba(255, 255, 255, 0.511);
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}
.forms input{
    height: 35px;
    width: 250px;
    border-radius: 8px;
    margin-top: 25px;
    margin-left: 10px;
    text-align: center;
}
.checkbox{
    display: flex;
    justify-content: space-evenly;
    font-size: .8em;
    margin: 8px 0px;
}

button{
    width: 180px;
    height: 35px;
    margin: auto;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: white;
}
.recuperar{
    font-size: .8em;
    margin-top: 10px;
}